*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
}
/*CONTAINER*/
#main-container{
    display: flex;
    margin-top: 110px;
    flex-direction: row;
}

#banner-container,
#form-container{
    flex: 1 1 0;
    width: 50%;
}

#banner-container{
    text-align: right;
}

#banner-container img{
    margin-right: -15px;

}

#form-container{
    text-align: cemter;
}

/*LOGIN FORM*/

#form-box{
    background-color: #FFFF;
    border: 1px solid #DBDBDB;
    width: 350px;
    margin-top: 30px;
    text-align: center;


}

#logo-insta{
    width: 175px;
    height: 51px;
    margin: 40px auto 12px;
    margin-top: 20;
    background-color: #FFFF;
}

#login-form{
    margin-top: 20px;
}

#login-form input{
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
}

#login-form input [type=submit]{
    background-color: #4CB5F9;
    color: #FFFF;
    margin-top: 15px;
    border-radius: 10px;
    border-color:#B2DFFC;
    height: 32px;
    font-size: 13px;
    padding: 0;
    font-weight: 600;
}

/*SEPARAdOR*/
.separator{
    position: relative;
}

.separator .line{
    border-top:1px solid #DBDBDB;
    width: 268px;
    margin: 25px auto 35px auto;
}

.separator span{
    position: absolute;
    text-transform: lowercase;
    color: rgb(115, 115, 115);
    top: -6px;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}
#facebook-login{
    margin-bottom: 20px;
}

#facebook-login a{
    text-decoration: none;
    color: #385185;
    display: flex;
    align-items: center;
    justify-content: center;

}

#facebook-login img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#facebook-login span{
    font-weight: 600;
    font-size: 13px;
    margin-top: 1px;
}

/*ESQUECEU A SENHA*/
#forgot-pass{
    margin-bottom: 20px;
    font-size: 12px;
}

#forgot-pass a{
    text-decoration: none;
    color: #385185;
    margin-top: 10px;
}

/*CHAMADA CADASTRO*/
#register-container{
    background-color: #FFFF;
    border: 1px solid #DBDBDB;
    width: 350px;
    margin-top: 10px;
    padding: 25px;
    text-align: center;
}

#register-container p{
    font-size: 14px;
    color: #262626;

}

#register-container a{
    color: #4CB5F9;
    font-weight: 600;
    text-decoration: none;
}

#get-app-container{
    text-align: center;
    width: 350px;
}

#get-app-container p{
    margin: 20px 0;
    font-size: 13px;
}

#get-app-container a{
    text-decoration: none;
}

#get-app-container img{
    width: 134px;
    height: 44px;

}

/*RODAPÉ*/
footer{

    width: 1200px;
    margin: 50px auto;
    
}

footer nav{
    display: inline-block;
}

#footer-links{
    list-style: none;
}

#footer-links li{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
}

#footer-links a{
    text-decoration: none;
    color: #707070;
    font-size: 12px;
    font-weight: 400;
}

#copyright{
    font-size: 12px;
    text-transform: uppercase;
    color: #707070;
    text-align: center;
    margin-top: 30px;

}

@media screen and(min-width:975px){
    #banner-container{
        display: none;
    }
    #main-container{
        margin-top: 100px;
        margin-left: 30%;
      
    }
    footer{
        margin-left: 50px;
        width: 620px;
    }
}

@media  screen and(max-width:530px) {
    #main-container, #form-box{
        margin-top: 0px;
    }
    #main-container{
        margin-left: 0;
    }
    #form-container,
    #form-box,
    #register-container,
    #get-app-container{
        width: 100%;
        border: none;
    }

footer{
    width: 90%;
    text-align: center;
}
#footer-links li{
    margin-bottom: 10px;
}
}